#cart-icon {
    position: fixed;
    bottom: 60px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}

#cart-icon img {
    width: 50px;
    height: 50px;
}

#cart-counter {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    margin-left: -15px;
    border: 2px solid white;
}

#cart-list {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

#cart-list button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items div {
    color: black;
    border: none;
    padding: 5px;
}

#cart-items button{
    cursor: pointer;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}